@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}
body
{
 background: rgb(224, 176, 195);
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
.container
{
 position: relative;
 width: 100%;
 max-width: 1000px;
 min-height: 1000px;
 background: #fff;
 margin: 50px;
 display: grid;
 grid-template-columns: 1fr 2fr;
 box-shadow: 0 35px 55px rgb(0, 0, 0);
}
.container .left_Side
{
 position: relative;
 background: #a82050;
 padding: 40px;
}
.profileText
{
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-bottom: 20px;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}
.profileText .imgBx
{
 position: relative;
 width: 200px;
 height: 200px;
 border-radius: 50%;
 overflow: hidden; 
}
.profileText .imgBx img
{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 border: 3px solid rgb(0, 0, 0);
 border-radius: 50%;
 padding: 8px;
}
.profileText h2
{
 color: rgb(0, 0, 0);
 font-size: 23px;
 margin-top: 20px;
 text-transform: uppercase;
 text-align: center;
 font-weight: 600;
 line-height: 1.4em;
}
.profileText h2 span
{
 font-size: 0.8em;
 font-weight: 300;
}
.contactInfo
{
 padding-top: 40px;
 margin-bottom: 20px;
}
.title
{
 color: #000000;
 text-transform: uppercase;
 font-weight: 600;
 letter-spacing: 1px;
 margin-bottom: 20px;
 text-align: center;
}
.contactInfo ul
{
 position: relative;
}
.contactInfo ul li
{
 position: relative;
 list-style: none;
 margin: 10px 0;
cursor: pointer;
}
.title i {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
 border-radius: 50%;
 padding: 8px;
}
.title2 i {
  background-color: #8b325f;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #e22a80;
 border-radius: 50%;
 padding: 8px;
}
.contactInfo ul li .icon
{
 display: inline-block;
 width: 30px;
 height: 18px;
 color: #eb56ad;
}
.contactInfo ul li span
{
 color: #000000;;
 font-size: 16px;
}
.contactInfo.education li
{
 margin-bottom: 15px;
}
.contactInfo.education h5
{
 color: #848c90;
 font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
 color: #3d0526;;
 font-weight: 500;
}
.contactInfo.education h4:nth-child(3)
{
 color: #4d0e33;
 font-weight: 500;
}
.contactInfo.education h4
{
 color: #3d0526;
 font-weight: 300;
}
.contactInfo.language .percent
{
 position: relative;
 width: 100%;
height: 10px;
background: #000000;
display: block;
margin-top: 5px;
}
.contactInfo.language .percent div
{
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 background: #8d214e;
}
.container .right_Side
{
 position: relative;
 background: #fff;
 padding: 40px;
}
.about
{
 margin-bottom: 50px;
}
.about.last-child
{
 margin-bottom: 0;
}
.title2
{
 color: #4d0e33;
 text-transform: uppercase;
 font-weight: 600;
 letter-spacing: 1px;
 margin-bottom: 20px;
}

.about .title2 .text p
{
 color: #4d0e33#000;
}
.about .box
{
 display: flex;
 flex-direction: row;
 margin: 20px 0;
}
.about .box .year_company
{
 min-width: 150px;
}
.about .box .year_company h5
{
 text-transform: uppercase;
 color: #848c90;
 font-weight: 600;
}
.about .box .text h4
{
 text-transform: uppercase;
 color: #4d0e33;
 font-size: 16px;
}
.skills .box
{
 position: relative;
 width: 100%;
 display: grid;
 grid-template-columns: 150px 1fr;
 justify-content: center;
 align-items: center;
}
.skills .box h4
{
 text-transform: uppercase;
 color: #fff;
 font-weight: 500;
}
.dot 
{
  height: 15px;
  width: 15px;
  background-color: #ca719b;
  border-radius: 50%;
  display: inline-block;
}
.dot1 
{
  height: 15px;
  width: 15px;
  background-color: #300722;
  border-radius: 50%;
  display: inline-block;
}
.interest ul
{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
}
.interest ul li
{
 list-style: none;
 color: #333;
 font-weight: 500;
 margin: 10px 0;
}
.interest ul li .fa
{
 color: #8f2757;
 font-size: 18px;
 width: 20px;
}
@media (max-width: 1000px)
{
.container
{
 margin: 10px;
 grid-template-columns: repeat(1,1fr);
}
.interest ul
{
 grid-template-columns: repeat(2,1fr);
}
}

@media (max-width: 600px)
{
 .about .box
 {
 flex-direction: column;
 }
 .about .box .year_company 
 {
    margin-bottom: 5px;
}
.interest ul
{
 grid-template-columns: repeat(1,1fr);
}
.skills .box
{
 grid-template-columns: repeat(1,1fr);
}
}